@model WebApplication1.Models.Marca

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes Marca</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MarcaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
